Question #1
Use data to see if there are any clusters of job failures on specific nodes. Determine whether any of the production partition nodes show an unusual number of failed jobs relative to the others. Ignore the debug partition. 

Action: 
1) clean up df columns to only reflect relevant columns 
2) Determine any pattern of job failures for specific nodes
3) Analyze Exit codes 0:0, discard the user errors for this item? 
4) Review number of jobs that have 1 node to first see if there is a pattern
5) NTH: Determine whether pattern of failure rate as job ids increase
6) NTH: Determine whether pattern of failure rate for jobs with >1 node (e.g., communication failure between certain nodes (any correlations between nodes, clusters, hardware, etc)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline
from io import StringIO
import re

In [2]:
for_pd = StringIO()
with open('../data/accre-jobs-2020.csv') as accre:
    for line in accre:
        new_line = re.sub(r',', '|', line.rstrip(), count=12)
        print (new_line, file=for_pd)

for_pd.seek(0)

accre = pd.read_csv(for_pd, sep='|')
print (accre)

               JOBID        ACCOUNT       USER    REQMEM    USEDMEM  \
0           15925210        treviso   arabella  122880Mn  65973.49M
1           15861126        treviso   arabella  122880Mn  67181.12M
2           15861125        treviso   arabella  122880Mn  69111.86M
3           16251645        treviso   arabella  122880Mn  65317.33M
4           16251646        treviso   arabella  122880Mn  65876.11M
...              ...            ...        ...       ...        ...
3816285   24173815_8     portabella     vennie   32768Mn  30042.68M
3816286   24173815_9     portabella     vennie   32768Mn  31067.75M
3816287  24173815_10     portabella     vennie   32768Mn  21207.96M
3816288     24173817  boysenberries  hortensia  100000Mn          0
3816289     24173866    horseradish     ariane   20480Mn          0

             REQTIME     USEDTIME  NODES  CPUS   PARTITION EXITCODE  \
0        13-18:00:00  13-18:00:28      1    24  production      0:0
1        13-18:00:00  12-14:50:56      1    24  production      0:0
2        13-18:00:00  13-18:00:20      1    24  production      0:0
3        13-18:00:00  12-03:50:32      1    24  production      0:0
4        13-18:00:00  13-18:00:03      1    24  production      0:0
...              ...          ...    ...   ...         ...      ...
3816285   1-00:00:00     00:02:27      1     2  production      0:0
3816286   1-00:00:00     00:02:27      1     2  production      0:0
3816287   1-00:00:00     00:01:40      1     2  production      0:0
3816288   1-00:00:00     00:03:05      1     8  production      0:0
3816289     05:00:00     00:02:05      1     1  production      0:0

             STATE NODELIST
0        COMPLETED   cn1531
1        COMPLETED   cn1441
2        COMPLETED   cn1464
3        COMPLETED   cn1473
4        COMPLETED   cn1440
...            ...      ...
3816285  COMPLETED    cn312
3816286  COMPLETED    cn312
3816287  COMPLETED    cn368
3816288    RUNNING   cn1509
3816289    RUNNING   cn1131

[3816290 rows x 13 columns]

In [3]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3816290 entries, 0 to 3816289
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   JOBID      object
 1   ACCOUNT    object
 2   USER       object
 3   REQMEM     object
 4   USEDMEM    object
 5   REQTIME    object
 6   USEDTIME   object
 7   NODES      int64
 8   CPUS       int64
 9   PARTITION  object
 10  EXITCODE   object
 11  STATE      object
 12  NODELIST   object
dtypes: int64(2), object(11)
memory usage: 378.5+ MB

In [4]:
accre.EXITCODE.describe()

count     3816290
unique         30
top           0:0
freq      3813403
Name: EXITCODE, dtype: object

In [5]:
accre.EXITCODE.unique()

array(['0:0', '0:6', '0:15', '1:0', '126:0', '0:9', '2:0', '0:125',
       '13:0', '127:0', '8:0', '6:0', '0:39', '0:105', '7:0', '116:0',
       '0:4', '0:7', '0:12', '101:0', '24:0', '38:0', '99:0', '11:0',
       '0:36', '0:11', '64:0', '0:2', '16:0', '59:0'], dtype=object)

In [6]:
accre.STATE.unique()

array(['COMPLETED', 'CANCELLED', 'FAILED', 'OUT_OF_MEMORY',
       'CANCELLED by 782611', 'CANCELLED by 791651', 'CANCELLED by 9206',
       'CANCELLED by 785271', 'CANCELLED by 666860',
       'CANCELLED by 686562', 'CANCELLED by 397600',
       'CANCELLED by 199066', 'CANCELLED by 503585',
       'CANCELLED by 505355', 'TIMEOUT', 'CANCELLED by 486541',
       'CANCELLED by 763605', 'CANCELLED by 124006', 'CANCELLED by 90423',
       'CANCELLED by 200557', 'CANCELLED by 649319',
       'CANCELLED by 483348', 'CANCELLED by 855431',
       'CANCELLED by 199766', 'CANCELLED by 337422', 'CANCELLED by 0',
       'CANCELLED by 546080', 'CANCELLED by 693461',
       'CANCELLED by 782535', 'CANCELLED by 515423',
       'CANCELLED by 454080', 'CANCELLED by 9201', 'CANCELLED by 649321',
       'CANCELLED by 9202', 'CANCELLED by 895426', 'CANCELLED by 651701',
       'CANCELLED by 781109', 'RUNNING'], dtype=object)

In [7]:
accre.STATE.describe()

count       3816290
unique           38
top       COMPLETED
freq        3804644
Name: STATE, dtype: object

In [8]:
accre.groupby('STATE').size()

STATE
CANCELLED                 6107
CANCELLED by 0               5
CANCELLED by 124006          2
CANCELLED by 199066          2
CANCELLED by 199766          4
CANCELLED by 200557          6
CANCELLED by 337422          1
CANCELLED by 397600          7
CANCELLED by 454080          4
CANCELLED by 483348          3
CANCELLED by 486541          4
CANCELLED by 503585          1
CANCELLED by 505355         63
CANCELLED by 515423          2
CANCELLED by 546080          2
CANCELLED by 649319          3
CANCELLED by 649321          1
CANCELLED by 651701          1
CANCELLED by 666860          2
CANCELLED by 686562        681
CANCELLED by 693461          2
CANCELLED by 763605          1
CANCELLED by 781109          1
CANCELLED by 782535          1
CANCELLED by 782611         13
CANCELLED by 785271          1
CANCELLED by 791651          2
CANCELLED by 855431         17
CANCELLED by 895426          2
CANCELLED by 90423           2
CANCELLED by 9201            3
CANCELLED by 9202            3
CANCELLED by 9206            9
COMPLETED              3804644
FAILED                    1406
OUT_OF_MEMORY               94
RUNNING                   3108
TIMEOUT                     80
dtype: int64

In [9]:
# review failed nodes, first identify failed jobs
failed_jobs = accre[accre['STATE'] == 'FAILED']
failed_jobs

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
8629,17094238,cms,cmspilot,186648Mn,1.78M,2-00:00:00,00:01:11,1,0,nogpfs,1:0,FAILED,cn1554
8632,17094335,cms,cmspilot,186648Mn,8.38M,2-00:00:00,00:01:26,1,0,nogpfs,1:0,FAILED,cn1544
22234,17072678,cms,cmspilot,21875Mn,11310.72M,2-00:00:00,00:02:35,1,8,nogpfs,126:0,FAILED,ng909
56716,17150413,blueberries,leva,4096Mn,1968.02M,10:00:00,02:15:54,1,1,pascal,1:0,FAILED,gpu0021
68661,17178412,cubanelle,robyn,1024Mc,73.32M,00:15:00,00:14:17,1,1,pascal,2:0,FAILED,gpu0021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813639,24168919,pinole,daryl,376832Mn,11.52M,00:30:00,00:01:28,1,1,turing,1:0,FAILED,gpu0048
3814389,24170236,alkmene,abigail,8192Mn,5.81M,02:00:00,00:08:07,2,8,production,1:0,FAILED,"cn[1123,1128]"
3814493,24170522,alkmene,abigail,8192Mn,5.81M,02:00:00,00:08:42,2,8,production,1:0,FAILED,"cn[1207,1455]"
3814510,24170592,pinole,daryl,380280Mn,6.10M,00:30:00,00:02:25,1,1,turing,126:0,FAILED,gpu0045
3816160,24173530,cms,uscmslocal,21878Mn,18923.71M,2-00:00:00,00:20:12,1,8,nogpfs,0:0,FAILED,ng743

In [10]:
accre.PARTITION.describe()

count        3816290
unique            15
top       production
freq         3311788
Name: PARTITION, dtype: object

In [11]:
accre.PARTITION.unique()

array(['production', 'cgw-dougherty1', 'cgw-capra1', 'cgw-cqs1', 'pascal',
       'turing', 'cgw-tbi01', 'nogpfs', 'maxwell', 'sam', 'debug',
       'devel', 'cgw-cqs3', 'cgw-rocksteady', 'cgw-vm-qa-flatearth1'],
      dtype=object)

In [12]:
#failed_2 = accre[(accre["STATE"] == 'FAILED') & (accre['PARTITION'] != 'debug')] #| (accre['PARTITION'] != 'debug') |(accre['PARTITION'] != 'turing')]
#failed_2

In [13]:
# failed_3 = accre[(accre["STATE"] == 'FAILED') & (accre['PARTITION'] == 'cgw-rocksteady')] 
# failed_3

I set up a df called "failed" which took the entire accre df and filtered to State = Failed, and Partition = Production.  This is due to the slides 37 (ignore debug, pascal, turing, maxwell), and by filtering found that only production partition has failed jobs.

In [14]:
failed = accre[(accre["STATE"] == 'FAILED') & (accre['PARTITION'] == 'production')]
failed.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
104031,17234446,crowns,tena,5120Mc,8737.88M,1-12:00:00,1-12:00:12,51,1,production,1:0,FAILED,"cn[336-338,340,347-348,374-380,386-396,401,403..."
124397,17261993,burro,golda,1024Mc,0,00:30:00,00:00:01,1,1,production,13:0,FAILED,cn394
167790,17329248,pearl,auther,1024Mc,0,00:30:00,00:00:00,2,8,production,2:0,FAILED,"cn[326,499]"
199503,17354412,crowns,tena,5120Mc,4277.54M,1-06:00:00,01:49:02,75,1,production,1:0,FAILED,"cn[331-338,340,347-349,361-367,386-393,395-396..."
226420,17390284,bulk,lela,20480Mn,4028.41M,20:00:00,00:01:01,10,1,production,1:0,FAILED,"cn[1263,1275,1303,1309,1335-1336,1351,1372,137..."

In [15]:
failed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 104031 to 3814493
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      500 non-null    object
 1   ACCOUNT    500 non-null    object
 2   USER       500 non-null    object
 3   REQMEM     500 non-null    object
 4   USEDMEM    500 non-null    object
 5   REQTIME    500 non-null    object
 6   USEDTIME   500 non-null    object
 7   NODES      500 non-null    int64
 8   CPUS       500 non-null    int64
 9   PARTITION  500 non-null    object
 10  EXITCODE   500 non-null    object
 11  STATE      500 non-null    object
 12  NODELIST   500 non-null    object
dtypes: int64(2), object(11)
memory usage: 54.7+ KB

In [16]:
failed.NODELIST.unique()

array(['cn[336-338,340,347-348,374-380,386-396,401,403-405,407-411,487-500,911-913,1081]',
       'cn394', 'cn[326,499]',
       'cn[331-338,340,347-349,361-367,386-393,395-396,398-401,403-405,407-414,441-448,464-473,1273-1279,1340-1345]',
       'cn[1263,1275,1303,1309,1335-1336,1351,1372,1376,1424]',
       'cn[1263,1275,1287,1303,1309,1335-1336,1351,1372,1376]',
       'cn[1263,1275,1287,1303,1309,1335-1336,1351,1372-1373]',
       'cn[1263,1275,1287,1303,1309,1335-1336,1348,1372-1373]',
       'cn[1274-1277,1303-1321,1345-1354,1420-1427]', 'cn[1442,1444]',
       'cn[1301,1382]', 'cn469', 'cn1446', 'cn1431', 'cn1212',
       'cn[1356,1379]', 'cn1273', 'cn[1332-1334]',
       'cn[1458,1464,1531-1533]', 'cn[1431-1432,1440-1442]',
       'cn[1437,1530-1531]', 'cn1471', 'cn1301', 'cn[1421-1422]',
       'cn[1270,1310]', 'cn[1291,1394]', 'cn1090',
       'cn[305,308-309,311-314,318-320,322,324,326-329,332,334-338,340,347,349-356,360,365,369,372-374,380,385-390,392-393,395,405,407,409-410,413,415-416,418,420,427,429,435,437-441,444,450-451,453-458,467-468,483-488,494-497,1260-1261,1266-1267,1276-1277,1284-1286,1290-1292,1303-1318,1320-1321,1332-1333,1335-1336,1345-1346,1348-1350,1352-1353,1374-1377,1388-1391,1396-1397,1420-1421,1423-1426]',
       'cn[308-309,311-314,316,318-320,322,324,326-328,332,334-338,340,347,349-350,352-356,360,365,369,372-375,379,385-390,392-393,395,403,405,407,409-410,413,415-416,418,420,423,427,429,432,435,437-438,440-441,444,446,448,450-451,454-457,467-468,483-484,486-488,494-497,1260-1261,1266-1267,1276-1277,1284-1286,1290-1292,1303-1318,1320-1321,1332-1333,1335-1336,1345-1346,1348-1350,1352-1353,1374-1377,1388-1391,1396-1397,1420-1421,1423-1426]',
       'cn[1091,1127,1268,1276,1310-1311,1320-1321]',
       'cn[305,308-309,311-314,317-320,322-324,326,328-329,332,334-338,340,347,350-356,358,360,362,364-365,369,372-377,380,384-390,392-393,395-396,398-400,404-405,407-408,410-413,415,418-420,424,427-429,431-432,435-441,444,446-448,450,453-457,459-460,467-468,477,480,483-487,490-492,494-500,1284-1285,1303-1306,1308-1311,1317-1321,1334-1335,1374-1377,1388-1389,1391-1392,1422-1424]',
       'cn[305,308-309,311-314,317-320,322-324,326,328-329,332,334-338,340,347,350-356,358,360,362,364-365,369,372-377,380,384-390,392-393,395-396,398-400,404-405,407-408,410-413,415,418-420,424,427-429,431-432,435-441,444,446-448,450,453-457,459-460,467-468,477,480,483-487,490-492,494-500,1268,1284-1285,1303-1306,1308,1310-1311,1314,1317-1321,1332,1334-1335,1368-1369,1375-1377,1388-1389,1422-1423]',
       'cn[383,449,1084,1092-1094,1258,1263,1266-1268,1306,1310-1312,1314,1316-1321,1332-1334,1348-1349,1352-1353,1367,1388-1392,1420-1421,1426-1427]',
       'cn[1305-1308,1420-1426]',
       'cn[311,323,347,349,353,367,384,395,405,407,499-500,1081,1374-1376,1420-1426]',
       'cn[1122-1124]', 'cn[1494,1503-1504,1508]', 'cn912',
       'cn[1486,1516-1518]', 'cn1121', 'cn304', 'cn425',
       'cn[307,312,314-315,320,326,328,347,351,358,362,365,367,382,384-385,395,399,401,425,433,435,437,454,456,463-464,469,473,495-497,500,912,1087,1093,1263,1270,1276-1277,1289,1308,1319,1321,1333,1338-1339,1346,1376,1391,1397-1399,1426-1427]',
       'cn[1130,1337,1345-1346,1349-1350,1353-1354,1369]',
       'cn[1440,1448]', 'cn1400', 'cn[1437,1485]', 'cn[1437,1442]',
       'cn[1437,1446]', 'cn[1437,1457]', 'cn[1297-1298]', 'cn[1445-1446]',
       'cn[1326,1380]',
       'cn[1085-1086,1088-1089,1122-1123,1260-1261,1263,1267-1271,1274-1279,1284-1285,1289-1292,1303,1309-1313,1315-1316,1318,1320-1321,1333,1335-1343,1346,1348-1349,1352-1354,1367-1369,1372,1374-1377,1421-1422,1425-1427]',
       'cn[1431,1443]', 'cn[1471-1472]',
       'cn[1094,1121,1267,1279,1289,1312,1319,1332-1334,1339,1367-1368,1388-1389,1422-1423]',
       'cn[394,430,463,1085,1088-1095,1121,1123,1127]',
       'cn[394,430,463,1082,1085,1088-1095,1121,1123]',
       'cn[1261,1269-1271,1276-1279,1284-1285,1309-1313,1332-1333,1335-1337,1352-1353,1368,1372-1374,1376-1377]',
       'cn[489,1089,1091,1124,1203,1209,1217,1237,1240,1264,1281,1295-1297,1299,1314,1323-1325,1330,1332,1359,1370-1371,1378,1381,1385-1386,1390,1399,1438,1440,1449,1471,1482,1493-1508,1520,1535]',
       'cn[1267-1271,1276-1279,1284-1285,1289-1290,1309-1313,1335-1337,1352-1353,1372-1374,1376-1377]',
       'cn[302-303,305,319-320,331-332,336,338,347,355-356,372,379,386,391,393,395-396,410-411,420,440,463,465,477-479,496-497,499,1085-1086,1123-1124,1267-1269,1276-1278,1286,1290-1291,1304-1305,1307,1310-1311,1313-1314,1316-1317,1319-1320,1353-1354,1376-1377,1388-1390,1392-1393,1395-1396,1423-1424,1426-1427]',
       'cn[302-303,305,319-320,331-332,336,338,347,355-356,395-396,399-400,410-411,477-479,496-497,1269,1271,1276-1278,1284,1286-1287,1289-1291,1303-1304,1307,1309-1311,1313-1314,1316-1317,1319-1320,1337,1341,1346-1347,1351-1354,1376-1377,1388,1392-1393,1395-1396,1398-1399,1423-1424,1426-1427]',
       'cn[302-303,319-320,331-332,355-356,395-396,399-400,410-411,477-479,496-497,1269,1276-1279,1286-1287,1289-1291,1307,1309-1314,1316-1317,1319-1320,1335-1338,1341-1342,1346-1347,1351-1354,1388,1392-1393,1395-1396,1398-1399]',
       'cn[302-303,305,313-314,319-320,331,336,347,355-356,374,377,379,386,388,391,393,395-396,400,410-411,420,424,434,440,445-446,452,465,475,477-479,488,496-497,499,1091,1203,1207,1209,1217,1222,1227,1236-1237,1241,1269,1307,1309-1310,1316-1317,1319-1320,1351-1354,1391-1392,1394-1396,1398-1399,1423-1424,1433-1434,1468-1469,1474-1475]',
       'cn[302-303,305,313-314,319-320,322,331-332,355-356,360,374,377,395-396,410-411,434,445-446,448,477-479,488,496-497,499-500,1091,1269,1284-1285,1289,1305,1307,1309-1310,1316-1317,1319-1320,1334-1335,1343,1351-1353,1372,1391-1392,1394-1396,1398-1399]',
       'cn[302-303,305,313-314,317,319-320,322,331-332,336-337,355-356,360,368,370,374,377,395-396,410-411,434,445-446,448,477-479,488,496-497,499-500,1284-1285,1305,1334-1337,1351-1353,1391-1392,1394-1396,1398-1399]',
       'cn[1215-1216,1259,1323-1325,1493-1497,1499,1501-1508,1514-1517,1519-1522]',
       'cn[328,334,367-368,399-400,427,457,1091,1215-1216,1239,1259,1272,1281-1282,1301,1320,1323-1325,1327,1343,1355,1358-1359,1363,1370-1371,1375-1378,1380,1383-1385,1395,1436,1468,1472-1474]',
       'cn[328,334,367-368,399-400,427,457,1215-1216,1239,1259,1272,1281-1282,1301,1319,1323-1325,1327,1334,1355,1358-1359,1361,1363,1367,1370-1371,1375-1378,1380,1383-1385,1395,1397,1436,1468,1472-1474]',
       'cn[328,334,367-368,399-400,427,457,1091,1215-1216,1239,1259,1272,1281-1282,1301,1305,1323-1325,1327,1334,1355,1358-1359,1361,1363,1367,1370-1371,1375-1376,1378,1380,1383-1385,1397,1421,1436,1468,1472-1474]',
       'cn[311,315-316,319-320,322-324,326,328-332,334,337-338,340,347,352-354,357,370,418-420,427,446-447,457]',
       'cn[311-312,315-316,323-324,326,328-332,337-338,340,347,352-354,357,370,400-401,403,427,457,491-494]',
       'cn382',
       'cn[308,311-312,316,319,323,332,334,350,352-353,355,357-358,375,384,390-392,394-395,398,400-401,403,407-408,410-412,415,420,434,437,440,443,455,459-460,469,477,482,485,487,491-494,499,1258,1269,1306,1310,1312,1333,1338,1369,1389,1393,1426-1427]',
       'cn430', 'cn1462', 'cn[1508-1509,1515-1516]',
       'cn[317,338,352,361,377,380,383,410,413,417,427,437,440,442,451,457,482,491-492,1086,1205,1208,1212,1237,1260-1261,1263,1271,1276,1313-1314,1343-1344,1367-1369,1391-1392,1422-1426,1437,1440,1463-1466,1472]',
       'cn[306,308,311,314,317,338,352,361,377,379-380,385,410,413,417,424,427,437,442-443,451,463,482-484,491-492,1131,1260-1261,1271,1276,1284,1306-1309,1311,1313-1314,1318,1331,1339,1341,1368-1369,1391-1392,1396-1399,1422-1427]',
       'cn[1338-1339,1349-1351,1396-1399,1421-1427]',
       'cn[316-320,327,358-363,432-436,490-492,494-499]', 'cn[1533,1535]',
       'cn[313-320,471-473,490-500]', 'cn[1530-1531]', 'cn[1532-1533]',
       'cn[1530-1533]', 'cn309', 'cn1366', 'cn1526', 'cn1458', 'cn1486',
       'cn1435', 'cn[1461-1462]', 'cn1267', 'cn[1376-1377,1389-1399]',
       'cn[1389-1399]', 'cn[1288,1356]', 'cn1387', 'cn[1209,1468-1470]',
       'cn1201', 'cn1226', 'cn1436', 'cn1440', 'cn1447', 'cn1448',
       'cn1449', 'cn1450', 'cn1288', 'cn1322', 'cn1468', 'cn1473',
       'cn1479', 'cn1516', 'cn449', 'cn1206', 'cn[1492,1494,1514-1515]',
       'cn[1095-1096]', 'cn[1343-1344]', 'cn[1390-1391]', 'cn[1420-1421]',
       'cn[1422-1423]', 'cn[1337,1339]', 'cn[1392,1424]', 'cn[356-357]',
       'cn[411-412]', 'cn[432-433]', 'cn[1339-1340]', 'cn[1337,1341]',
       'cn[1352,1391]', 'cn[1424,1426]', 'cn[315-316]', 'cn[450-451]',
       'cn[486-487]', 'cn[431-432]', 'cn[358-359]', 'cn[307,319]',
       'cn[1424-1425]', 'cn[1348,1422]', 'cn[447,466]', 'cn[1468-1469]',
       'cn[1479-1480]', 'cn[1436-1437]', 'cn[1438-1439]', 'cn[1457,1481]',
       'cn[1327-1328]', 'cn[1482-1483]', 'cn[1501-1502]', 'cn[1505-1506]',
       'cn[326,361]', 'cn[384,398]', 'cn[471,1332]', 'cn[1433,1444]',
       'cn[1514-1515]', 'cn[1205,1439]', 'cn[1446,1459]', 'cn[1459,1472]',
       'cn[1479,1481]', 'cn[1357-1358]', 'cn[1293,1299]', 'cn[1328,1362]',
       'cn[1366,1378]', 'cn[1517-1518]', 'cn[1520-1521]', 'cn[314,434]',
       'cn[1205-1206]', 'cn[1459,1473]', 'cn[374,451]', 'cn[412,451]',
       'cn[464,1233]', 'cn[1355,1468]', 'cn[1352,1422]', 'cn[1217,1468]',
       'cn[1217,1535]', 'cn[359,401]', 'cn[398,492]', 'cn[361,492]',
       'cn[495,1425]', 'cn[478,495]', 'cn[1455,1474]', 'cn[433,1230]',
       'cn[1533-1534]', 'cn1441', 'cn1445', 'cn1443', 'cn1464', 'cn1469',
       'cn1439', 'cn1438', 'cn1453', 'cn1454', 'cn1430', 'cn1495',
       'cn1527', 'cn1497', 'cn1499', 'cn1484', 'cn1520', 'cn1521',
       'cn1515', 'cn1491', 'cn1519', 'cn1232', 'cn1236', 'cn1202',
       'cn1216', 'cn1217', 'cn1310', 'cn1392', 'cn1359',
       'cn[468,470,485]', 'cn1235', 'cn1275',
       'cn[1128,1284-1286,1291-1292,1311-1313,1345]', 'cn1259', 'cn1375',
       'cn[1235,1335]', 'cn[1317,1335]', 'cn1089',
       'cn[340,347-350,360-362,376,387,405,407,433,435-437,439-441,443-452,465,467,474,480,1081,1090-1091,1125-1126,1131-1133,1202,1208,1210,1212,1233-1234,1239,1242,1257-1258,1263,1266-1267,1273,1275,1278,1284,1287,1307-1312,1331-1333,1336,1345-1348,1353,1369,1422-1427,1430,1440,1445,1452,1467,1469-1471,1474-1475,1477,1479-1481]',
       'cn[315,405,489,1201,1209,1232,1426,1441-1442,1454]',
       'cn[404,1201,1209,1232,1360,1441-1442,1454,1467,1473]',
       'cn[356,404,1201,1232,1284,1353-1354,1441-1442,1449]', 'cn1287',
       'cn[305-306,313-314,319-320,335,340,348,351-353,356-358,387-388,401,403,408,443,452,459,465-468,473,480,482,487-488,492-493,1202,1208,1213-1214,1218,1225-1226,1229,1232-1233,1235-1236,1240,1314,1319-1320]',
       'cn443',
       'cn[305,308,315,335,338,340,351-353,356-359,365,368,373-374,398,401,403,413-414,419,437-438,440,452,460,465-468,472,482,487,1202,1208,1211,1213-1214,1219,1225-1226,1229,1233,1235-1236,1240,1351,1354]',
       'cn1433', 'cn317', 'cn1234', 'cn1277', 'cn357',
       'cn[1092-1096,1123-1125]', 'cn1536', 'cn1357', 'cn1329', 'cn461',
       'cn1487', 'cn1358', 'cn1328', 'cn1379', 'cn1482', 'cn416', 'cn911',
       'cn1355', 'cn1437',
       'cn[306,313,315-320,322-324,327,332-333,348,362-363,376-378,386-393,395,398,408,412-413,420,429,435-444,446,451,453,455,471-472,477-484,486-487,489,491,493-494,499-500,1201-1204,1213-1217,1219,1221,1224-1225,1228-1230,1234,1236-1238,1257,1264-1268,1270-1271,1281,1288-1289,1291-1292,1294-1296,1304-1305,1313-1318,1322-1323,1330-1331,1337-1338,1340-1341,1349,1352-1356,1364,1368,1370-1373,1383,1386,1388,1391,1423-1424,1430,1433,1435,1437-1438,1457-1461,1471-1472]',
       'cn[302-303,305-306,312-314,318-320,322-324,326-328,333-335,338,340,347-351,360-365,367-369,372-378,386-393,398-401,403-404,410-415,418-420,431-438,440-446,451-455,464-468,470-476,479-484,487-496,1201-1206,1212-1225,1232-1242,1348-1352]',
       'cn[303,307,313-314,316,318-320,327,330-331,333-334,340,347,373-374,386-393,398-401,403-404,410-411,427-429,431-435,441-444,446-448,451-455,459-460,465-468,470-472,482-484,491-496,499-500,1202-1204,1209-1210,1212-1217,1220-1221,1223-1225,1229-1230,1233-1235,1237-1241]',
       'cn[316,318,320,331,349,354,362,364,373,376,378,380,384,386-392,398-401,403,408,410-411,415,419,427,429,431-434,442,444,457,465-468,471-472,480,482,493-494,1203,1206,1209-1210,1214-1215,1220,1224,1229-1230,1234-1235,1239,1241,1395,1430,1432-1433,1435,1437,1439-1440,1442,1444,1446-1452,1454-1455,1457-1458,1460-1462,1464-1466,1468-1469,1471-1472,1474-1477,1479]',
       'cn[305,312-314,316,318-320,322-324,326-328,330-331,333-335,338,340,347-351,354,367-369,372-378,386-393,398-401,403-404,410-415,418-420,427-429,431-438,440-445,451-455,459-460,464-468,470-476,479-484,487-496,499-500,1201-1206,1209-1210,1212-1225,1229-1230,1232-1242]',
       'cn[314,318-320,340,347,349,373-374,376,378,384,386-393,398-401,403-404,408,410-411,415,419-420,427,429,431-435,441-444,451-455,465-468,470-472,480,482-484,491-496,1202-1204,1206,1209-1210,1212-1217,1220-1221,1223-1225,1229-1230,1233-1235,1237-1241,1264-1265,1280-1283,1293-1295,1297-1302,1322-1325,1355-1356,1358-1359,1361-1362,1370-1371,1432-1433,1439-1440,1446-1452,1454-1455,1457-1458,1460-1462,1464-1466,1468-1469,1471-1472,1474-1477,1479]',
       'cn[320,369,373,384,386-392,396,398-401,403,407-408,410-411,431-434,442,444,465-468,471-472,482,493-494,1202-1203,1206,1214-1215,1220,1224-1225,1229,1234-1235,1239,1241,1259,1263,1265,1272,1280,1282,1288,1294-1295,1298-1302,1322-1325,1327,1329,1337,1350,1355-1356,1358-1359,1361,1365,1371,1381,1383,1386,1390,1430,1432,1435-1437,1439-1442,1444,1448,1450-1451,1454-1455,1457-1462,1464-1469,1471-1472,1474-1476,1479,1481-1482,1484-1485,1487-1488,1490,1493-1494,1496-1497,1499-1500,1504,1506-1509,1513-1515,1517-1518,1520-1523,1526-1527,1529-1532,1535]',
       'cn421',
       'cn[313-320,322-324,326-336,338,340,347-357,372-380,386-393,398-401,403-405,407-408,410-415,431-438,440-445,450-455,470-477,479-485,487-496,1201-1206,1209-1210,1212-1226,1228-1230,1232-1242]',
       'cn[315,320,322-324,326,340,347,353-354,366,372-374,386-392,398-401,403-405,410-413,432-434,442-444,450,452-454,470-472,475-477,482-483,490-496,1201-1203,1206,1209-1210,1212,1214-1216,1220-1221,1224-1225,1229-1230,1234-1235,1239,1241,1264-1265,1280-1283,1293-1295,1297-1302,1323-1325,1355-1356,1358-1359,1361-1366,1370-1371,1381-1384,1386-1387,1432-1433,1435-1437,1439-1440,1444-1445,1447-1448,1450-1451,1454-1455,1457-1469,1471-1472,1474-1476,1479-1481]',
       'cn1530', 'cn1523', 'cn1364',
       'cn[302,305-309,312-313,318-319,322,324,328,330,340,347-348,350-351,355-356,358,363-365,374-380,384,390-393,405,407-408,413-414,417-418,431-434,436-441,443-444,446,450-452,454-455,459-460,464-465,467-468,475-477,483-485,487,490-496,1203,1205,1212-1213,1216-1220,1233,1237-1239,1257,1267-1272,1294,1297,1324-1325,1328-1330,1363-1365,1383-1384,1386-1387,1393-1397,1435-1436,1439,1441,1443-1444,1454-1455,1457-1458,1461-1471,1474-1477]',
       'cn1518',
       'cn[317-320,328-331,372-374,378-379,389-392,405,407-408,427-429,431-433,437-441,453-456,467-469,472-477,479-481,483-485,489-493,495-497,1205-1209,1216-1219,1224-1228,1235-1237,1434,1439-1441,1448-1449,1464-1466,1469-1471,1473-1477,1479-1480]',
       'cn[303,307,313,324,326-327,329,333-337,348,350-352,354-356,367-370,374-375,379-380,384-386,401,403,405,418,427-428,444-445,449,467,470-472,474-475,497,1089-1091,1125-1131,1201-1205,1207,1209,1212-1225,1228,1232-1234,1236-1238,1240,1242,1257,1260-1261,1274,1309-1311,1315-1316,1336-1345,1347,1372-1373,1375,1392-1394,1396,1421-1424,1435-1438,1442-1446,1449,1457,1459-1463,1465-1467,1469,1473,1475-1476,1479-1481]',
       'cn[329-337,372-380,470-476,1088-1091,1212-1225,1392-1399,1420-1425,1430-1438,1441-1446,1457-1463,1469-1476]',
       'cn[302-305,307,312,315-320,322,328-335,337,340,348-349,354-356,365-366,368,376,378-380,388-392,404-405,407,412-416,418,431-433,435,437-439,441-444,451-454,463-464,467-473,476-479,483-486,488-500,911-913,1083-1086,1088-1091,1121-1122,1125-1130,1314-1316,1337,1339-1341,1344-1345,1347-1350,1394-1399,1420-1427]',
       'cn1341', 'cn440',
       'cn[303,373-379,1202-1208,1216-1223,1225-1228,1264-1265,1293-1300,1328,1355-1360,1362-1366,1476]',
       'cn[1492-1501,1512-1524]',
       'cn[316,318-319,324,326-328,332-333,335-336,340,348-349,355,360,362-363,365,372-374,384-387,392-393,413-414,416-417,444-447,451,456-457,471,480-481,495,497,1347-1350,1394-1398,1420-1424]',
       'cn[1433-1439,1492-1499,1512-1524]',
       'cn[305,313,324,331-332,334-337,354,361,365,372-374,382,386,404,408,437-438,445,447,472,497,911-912,1085-1086,1088,1090,1092,1094-1096,1121-1123,1126-1129,1132,1201-1203,1207-1208,1212-1216,1221,1223-1224,1228,1241,1258,1260-1263,1269-1270,1278-1279,1281,1285-1287,1291-1292,1299,1305-1308,1310,1313,1319,1321,1323,1325,1331-1332,1335-1336,1338-1347,1349-1354,1358-1359,1364,1367-1370,1376-1377,1380,1384-1389,1391-1392,1394-1398,1420-1421,1423-1427,1432-1438,1442-1443,1451-1452,1472,1492,1494-1495,1497-1499,1504,1506,1508,1516,1521,1524,1530-1531,1534-1536]',
       'cn[305-308,312-313,332,336-338,340,347-349,358-361,365,367-370,372-374,379-380,395-396,398-399,401,403-405,407,431-432,452-454,456-460,465-470,1125-1128,1266-1270,1274-1276,1284-1287,1289-1292,1305-1308,1313-1315,1317-1318,1331-1332,1335-1354,1367-1369,1373-1376,1388-1392,1394-1399,1420-1421,1423-1427]',
       'cn1283',
       'cn[303-309,311,315-316,319-320,322,327-328,330,354-356,358-366,372,374-376,382-386,404-405,407-408,414-415,419,427-428,432-433,441-443,448-454,458,481,485-487,490-491,494,496-498,1086,1091-1092,1130-1132,1135,1266-1267,1273-1276,1284-1286,1289-1290,1305-1308,1312-1313,1317-1321,1331-1332,1345-1346,1348-1349,1374-1376,1420-1423,1425-1427]',
       'cn1474',
       'cn[316-320,322-324,326-335,358-368,393,395-396,398-401,403-405,407-408,437-445,450-460,468-481,483-487]',
       'cn1472', 'cn1442', 'cn1475',
       'cn[302-303,305-308,311-313,315,317-318,323,326,329,331-335,347,350-352,360,363,366-370,373,375-376,379,384-386,388,390-394,403-405,418-419,423,425,427,429,436,438,440,445-446,448-456,458-459,467-468,470-475,485-486,488,492-493,912-913,1081-1086,1088-1091,1094-1096,1127-1130,1223,1225-1227,1432-1433,1437-1439,1441-1442,1444-1446,1450-1455,1459-1473,1475-1477,1479-1481]',
       'cn[311,313,334-335,340,361-362,364-365,391,400,403-404,411,418-419,427-429,434-436,450,453-454,456-458,469-471,473-475,478,496-497,499-500,1273-1274,1277-1278,1284,1291-1292,1306-1307,1309,1314-1315,1318,1337-1340,1343-1345,1369,1376-1377,1389,1421-1424,1426]',
       'cn1476', 'cn[1306,1351-1352]', 'cn1279', 'cn1339', 'cn1084',
       'cn1351',
       'cn[486,1430,1443,1445,1448-1449,1454,1465-1466,1473-1474,1481]',
       'cn1218', 'cn1219', 'cn1261', 'cn1274', 'cn1398', 'cn1239',
       'cn1262', 'cn1270', 'cn1313', 'cn1258', 'cn1260', 'cn1282',
       'cn[1452-1453]', 'cn1132', 'cn[463,1209,1227]', 'cn[449,463,1209]',
       'cn1340', 'cn[1083,1085,1090-1092,1122]', 'cn913',
       'cn[323,329-330,348,361,384,387,414-415,439,446,456-459,469,471,486-488,492,498,1082-1083,1085,1089-1091,1095,1121,1124,1132,1135,1205,1208,1221,1270,1275,1278,1280-1283,1293-1297,1306,1312,1314,1318,1337,1339,1346-1348,1353-1354,1374,1385-1389,1420,1439,1449-1455,1458-1465,1467-1474,1476-1477,1479]',
       'cn[1485,1499]', 'cn1315', 'cn1304', 'cn1278', 'cn[1341-1343]',
       'cn[1266,1331,1334]', 'cn[1304,1317,1319]', 'cn[1317,1331,1368]',
       'cn[1273-1275]', 'cn1290', 'cn[1359-1360]',
       'cn[394,1091,1096,1124,1126-1130,1133,1275]', 'cn1082',
       'cn[1284-1286]', 'cn[311-313]', 'cn1391', 'cn[1121-1122]', 'cn463',
       'cn1306', 'cn[911-912]', 'cn1269', 'cn1424', 'cn1533', 'cn1532',
       'cn[347,1396]', 'cn[912-913]', 'cn1271', 'cn[1123,1128]',
       'cn[1207,1455]'], dtype=object)

In [17]:
failed.NODELIST.value_counts()

cn1273                                                   9
cn1458                                                   6
cn1364                                                   6
cn304                                                    6
cn1270                                                   5
                                                        ..
cn1530                                                   1
cn[1348,1422]                                            1
cn1358                                                   1
cn[326,499]                                              1
cn[1263,1275,1287,1303,1309,1335-1336,1351,1372,1376]    1
Name: NODELIST, Length: 339, dtype: int64

In [18]:
# for gut-check, find most common values for failed nodelist.  
def find_most_common_values(df,column):
    return df[column].value_counts(ascending=False).iloc[0:30]

In [19]:
# not useful because it groups nodes 
find_most_common_values(failed, 'NODELIST')

cn1273           9
cn1458           6
cn1364           6
cn304            6
cn1270           5
cn[1530-1531]    5
cn1479           5
cn1450           5
cn1448           4
cn1436           4
cn1449           4
cn1275           4
cn1278           4
cn[1468-1469]    4
cn[1284-1286]    4
cn1267           4
cn[1297-1298]    3
cn1387           3
cn[1505-1506]    3
cn1462           3
cn382            3
cn1445           3
cn1313           3
cn1261           3
cn[1421-1422]    3
cn1532           3
cn[1343-1344]    3
cn[1422-1423]    3
cn[411-412]      3
cn1258           3
Name: NODELIST, dtype: int64

This is the code to separate out the nodelist.

In [20]:
#Separate out node list
#failed = accre df filtered to state = failed, partition = production 
nodelist = failed['NODELIST'].tolist()
nodelist_nums = [i.strip('cn').strip('[').strip(']') for i in nodelist if ',' not in i]
nodelist_commas = [i.strip('cn').strip('[').strip(']').split(',') for i in nodelist if ',' in i]

In [21]:
nodelist_commas = [item for sublist in nodelist_commas for item in sublist]

In [22]:
new_list = nodelist_commas + nodelist_nums

In [23]:
node_counts = {}
for n in new_list:
    if '-' in n:
        nodes = n.split('-')
        low, high = int(nodes[0]), int(nodes[1])
        for r in range (low, high + 1):
            if r not in node_counts:
                node_counts[r] = 1
            else: 
                node_counts[r] += 1
    else:
        r = int(n)
        if r not in node_counts:
            node_counts[r] = 1
        else: 
            node_counts[r] += 1

In [24]:
node_counts

{336: 16,
 337: 14,
 338: 17,
 340: 22,
 347: 24,
 348: 14,
 374: 25,
 375: 14,
 376: 16,
 377: 15,
 378: 12,
 379: 14,
 380: 13,
 386: 22,
 387: 19,
 388: 19,
 389: 17,
 390: 20,
 391: 19,
 392: 21,
 393: 18,
 394: 8,
 395: 18,
 396: 13,
 401: 19,
 403: 20,
 404: 19,
 405: 19,
 407: 17,
 408: 16,
 409: 4,
 410: 23,
 411: 23,
 487: 18,
 488: 13,
 489: 9,
 490: 13,
 491: 20,
 492: 23,
 493: 18,
 494: 21,
 495: 20,
 496: 25,
 497: 21,
 498: 8,
 499: 17,
 500: 13,
 911: 6,
 912: 8,
 913: 5,
 1081: 4,
 326: 17,
 331: 19,
 332: 22,
 333: 12,
 334: 21,
 335: 18,
 349: 13,
 361: 14,
 362: 13,
 363: 9,
 364: 9,
 365: 16,
 366: 6,
 367: 12,
 398: 18,
 399: 19,
 400: 21,
 412: 14,
 413: 16,
 414: 10,
 441: 17,
 442: 15,
 443: 17,
 444: 20,
 445: 13,
 446: 16,
 447: 9,
 448: 10,
 464: 7,
 465: 14,
 466: 11,
 467: 20,
 468: 20,
 469: 10,
 470: 15,
 471: 20,
 472: 19,
 473: 13,
 1273: 15,
 1274: 10,
 1275: 18,
 1276: 16,
 1277: 13,
 1278: 15,
 1279: 9,
 1340: 11,
 1341: 13,
 1342: 7,
 1343: 13,
 1344: 10,
 1345: 13,
 1263: 11,
 1303: 11,
 1309: 19,
 1335: 18,
 1336: 15,
 1351: 17,
 1372: 10,
 1376: 21,
 1424: 26,
 1287: 9,
 1373: 7,
 1348: 14,
 1304: 11,
 1305: 14,
 1306: 17,
 1307: 15,
 1308: 12,
 1310: 21,
 1311: 17,
 1312: 14,
 1313: 19,
 1314: 17,
 1315: 10,
 1316: 13,
 1317: 17,
 1318: 13,
 1319: 16,
 1320: 16,
 1321: 11,
 1346: 13,
 1347: 10,
 1349: 14,
 1350: 11,
 1352: 20,
 1353: 20,
 1354: 13,
 1420: 16,
 1421: 23,
 1422: 26,
 1423: 27,
 1425: 17,
 1426: 22,
 1427: 14,
 1442: 14,
 1444: 10,
 1301: 8,
 1382: 2,
 1356: 7,
 1379: 2,
 1458: 16,
 1464: 13,
 1531: 13,
 1532: 10,
 1533: 10,
 1431: 4,
 1432: 8,
 1440: 12,
 1441: 11,
 1437: 19,
 1530: 12,
 1270: 15,
 1291: 12,
 1394: 13,
 305: 18,
 308: 11,
 309: 7,
 311: 13,
 312: 14,
 313: 21,
 314: 17,
 318: 19,
 319: 28,
 320: 28,
 322: 16,
 324: 16,
 327: 12,
 328: 19,
 329: 13,
 350: 12,
 351: 12,
 352: 14,
 353: 12,
 354: 14,
 355: 17,
 356: 21,
 360: 14,
 369: 10,
 372: 15,
 373: 20,
 385: 10,
 415: 13,
 416: 7,
 418: 12,
 420: 12,
 427: 20,
 429: 12,
 435: 15,
 437: 19,
 438: 15,
 439: 10,
 440: 19,
 450: 14,
 451: 21,
 453: 17,
 454: 19,
 455: 15,
 456: 12,
 457: 16,
 458: 7,
 483: 16,
 484: 15,
 485: 12,
 486: 13,
 1260: 9,
 1261: 11,
 1266: 8,
 1267: 16,
 1284: 21,
 1285: 17,
 1286: 13,
 1290: 10,
 1292: 8,
 1332: 13,
 1333: 10,
 1374: 10,
 1375: 13,
 1377: 14,
 1388: 13,
 1389: 14,
 1390: 10,
 1391: 19,
 1396: 20,
 1397: 15,
 316: 17,
 423: 2,
 432: 20,
 1091: 17,
 1127: 8,
 1268: 9,
 317: 14,
 323: 14,
 358: 12,
 384: 15,
 419: 11,
 424: 4,
 428: 8,
 431: 15,
 436: 11,
 459: 11,
 460: 9,
 477: 16,
 480: 13,
 1334: 10,
 1392: 18,
 1368: 10,
 1369: 10,
 383: 3,
 449: 7,
 1084: 4,
 1092: 7,
 1093: 5,
 1094: 7,
 1258: 7,
 1367: 8,
 1494: 8,
 1503: 3,
 1504: 5,
 1508: 6,
 1486: 2,
 1516: 8,
 1517: 6,
 1518: 6,
 307: 9,
 315: 14,
 382: 6,
 425: 3,
 433: 17,
 463: 9,
 1087: 1,
 1289: 10,
 1338: 10,
 1339: 15,
 1398: 16,
 1399: 14,
 1130: 6,
 1337: 16,
 1448: 11,
 1485: 3,
 1446: 11,
 1457: 12,
 1326: 1,
 1380: 5,
 1085: 9,
 1086: 7,
 1088: 7,
 1089: 10,
 1122: 6,
 1123: 8,
 1269: 14,
 1271: 9,
 1443: 8,
 1121: 8,
 430: 4,
 1090: 12,
 1095: 7,
 1082: 4,
 1124: 6,
 1203: 15,
 1209: 15,
 1217: 16,
 1237: 12,
 1240: 9,
 1264: 5,
 1281: 9,
 1295: 7,
 1296: 4,
 1297: 9,
 1299: 7,
 1323: 10,
 1324: 9,
 1325: 10,
 1330: 3,
 1359: 11,
 1370: 8,
 1371: 8,
 1378: 5,
 1381: 3,
 1385: 6,
 1386: 7,
 1438: 10,
 1449: 12,
 1471: 14,
 1482: 5,
 1493: 5,
 1495: 8,
 1496: 5,
 1497: 7,
 1498: 4,
 1499: 8,
 1500: 3,
 1501: 5,
 1502: 4,
 1505: 5,
 1506: 7,
 1507: 3,
 1520: 8,
 1535: 5,
 302: 10,
 303: 13,
 478: 11,
 479: 13,
 1393: 9,
 1395: 17,
 434: 16,
 452: 16,
 475: 12,
 1207: 6,
 1222: 7,
 1227: 5,
 1236: 10,
 1241: 10,
 1433: 13,
 1434: 5,
 1468: 19,
 1469: 20,
 1474: 16,
 1475: 12,
 368: 12,
 370: 6,
 1215: 16,
 1216: 18,
 1259: 6,
 1514: 6,
 1515: 8,
 1519: 4,
 1521: 7,
 1522: 4,
 1239: 15,
 1272: 5,
 1282: 8,
 1327: 6,
 1355: 11,
 1358: 10,
 1363: 6,
 1383: 7,
 1384: 6,
 1436: 16,
 1472: 16,
 1473: 13,
 1361: 5,
 330: 12,
 357: 11,
 482: 14,
 1509: 2,
 417: 4,
 1205: 11,
 1208: 8,
 1212: 13,
 1463: 7,
 1465: 11,
 1466: 10,
 306: 8,
 1131: 4,
 1331: 8,
 359: 7,
 1288: 4,
 1470: 7,
 1492: 4,
 1481: 9,
 1439: 14,
 1459: 10,
 1479: 17,
 1293: 5,
 1328: 6,
 1362: 4,
 1366: 4,
 1233: 11,
 1455: 9,
 1230: 8,
 1128: 8,
 1235: 14,
 474: 10,
 1125: 5,
 1126: 6,
 1132: 5,
 1133: 2,
 1202: 15,
 1210: 7,
 1234: 12,
 1242: 5,
 1257: 4,
 1430: 9,
 1445: 11,
 1452: 7,
 1467: 8,
 1477: 7,
 1480: 7,
 1201: 11,
 1232: 9,
 1454: 12,
 1360: 3,
 1213: 12,
 1214: 14,
 1218: 10,
 1225: 15,
 1226: 8,
 1229: 10,
 1211: 1,
 1219: 11,
 1096: 5,
 481: 8,
 1204: 8,
 1221: 12,
 1224: 13,
 1228: 6,
 1238: 8,
 1265: 5,
 1294: 7,
 1322: 4,
 1364: 11,
 1435: 10,
 1460: 9,
 1461: 11,
 476: 9,
 1206: 11,
 1220: 12,
 1223: 10,
 1447: 4,
 1450: 11,
 1451: 7,
 1462: 13,
 1476: 12,
 1280: 4,
 1283: 4,
 1298: 7,
 1300: 4,
 1302: 3,
 1329: 3,
 1365: 4,
 1484: 2,
 1487: 3,
 1488: 1,
 1490: 1,
 1513: 3,
 1523: 5,
 1526: 3,
 1527: 2,
 1529: 1,
 1387: 7,
 1129: 5,
 304: 8,
 1083: 4,
 1357: 4,
 1512: 2,
 1524: 3,
 1262: 3,
 1534: 2,
 1536: 4,
 1135: 2,
 1453: 5,
 1400: 1,
 1483: 2,
 1491: 1,
 461: 1,
 421: 1}

In [25]:
node_counts_sep = pd.DataFrame.from_dict(node_counts, orient = 'index')
node_counts_sep.head()

      0
336  16
337  14
338  17
340  22
347  24

In [26]:
# node_counts_sep.sort_values(by=['0'])

In [27]:
# unable to change column name from '0' to 'count', so converted to csv above and will bring back in
# col={'index': 'nodes', '0': 'count'}
# node_counts_sep=node_counts_sep.rename(columns=col)
# node_counts_sep.head()

In [28]:
# convert node_counts_sep to csv to create visualization called 'failed_notes' 
node_counts_sep = node_counts_sep.reset_index()
node_counts_sep.to_csv('../data/failed_notes.csv', index = False)
# changed column names in data from 'nodes', '0' to 'node_name', 'count'

In [29]:
failed_visual = pd.read_csv('../data/failed_notes.csv')
failed_visual.head(15)

    index   0
0     336  16
1     337  14
2     338  17
3     340  22
4     347  24
5     348  14
6     374  25
7     375  14
8     376  16
9     377  15
10    378  12
11    379  14
12    380  13
13    386  22
14    387  19

In [30]:
failed_visual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   507 non-null    int64
 1   0       507 non-null    int64
dtypes: int64(2)
memory usage: 8.0 KB

507 unique nodes.  I converted the file to an Excel and sorted there.  Will attempt to sort the node number by their values here.

In [32]:
# not working
#failed_visual.groupby('node_name')['node_name'].count().sort_values()

In [34]:
# Worked, now it does not
#failed_visual = failed_visual['count'].hist(bins = 25);

In [ ]:
# sns.scatterplot(data = failed_visual, x = 'nodes', y = 'count', hue = 'origin');

In [ ]:
#alternative would be to use regex
#impor re
#nn = [re.strip(â€˜cn|\[|\]â€™, i)]

In [ ]:
#alternative 
#range_ = list(range(low, high+1))

In [ ]:
#alternative
#node_counts[r] + node_counts[r] + 1